* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .logo {
    font-size: 24px;
    color: #39ff14; /* Verde neon */
    margin-bottom: 30px;
}

.sidebar .menu {
    list-style: none;
    width: 100%;
}

.sidebar .menu li {
    width: 100%;
}

.sidebar .menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.sidebar .menu li a:hover {
    background-color: #39ff14;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #39ff14;
    font-size: 36px;
}
